@font-face {
  font-family: 'MyFont';
  src: url('./assets/makabiyg-webfont.ttf');
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin: 40px;
  font-family: 'MyFont';
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cities-list {
  width: 28em;
  margin-bottom: 30px;
}

.cities {
  direction: rtl;
  margin: 0%;
  padding: 0%;
}

.city {
  border: 2px double #000000;
  list-style-type: none;
  cursor: pointer;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFF3D6;
}

.city-name {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'MyFont';
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  font-size: small;
  justify-content: space-around;
  align-items: center;
}

.city-description {
  max-width: 200px;
  margin: 5px;
  margin-left: 8px;
  text-align: justify;
}

.city-image {
  max-width: 150px;
  min-height: 120px;
  margin: 6px;
}

.map {
  width: 55em;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.explanation {
  visibility: hidden;
  width: 200px;
  background-color: #f8f8f8;
  color: #333;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: right;
  direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
}